@import "tailwindcss";

*{
  margin:0;
  padding: 0;
}

body{
  margin:0;
  padding:0;
  box-sizing:  border-box;
  overflow-x: hidden;
  background-color: #000;
  color: #fff
}

html{
  overflow-x: hidden;
}
.nav{
  padding-left: 150px;
  padding-right: 150px;
}
.screen-1, .screen-2{
  padding-left: 150px;
  padding-right : 150px;
}
.promptInput{
  padding: 15px;
}
.inputBox{
  padding-left: 150px;
  padding-right : 150px;
  padding-top : 12px
}
.user{
  margin-left: auto;
  padding: 15px;
  margin-bottom : 20px;
}
.ai{
  margin-top:30px;
  margin-right: auto;
  padding: 15px;
  margin-bottom: 30px;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h3{
  font-size: 23px !important;
  margin: 10px 0px;
}
ol, ul{
  list-style: decimal;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  list-style-type: disc;
}
pre{
  background-color: #555;
  padding: 15px;
  margin: 10px 0px;
  overflow: auto;
}
.disclaimer{
  margin-top:12px;
}
.card{
  padding: 15px;
}
.cardText{
  margin-top:12px;
}
.cardList{
  margin-top:20px;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
